ErrorCollectClient/Service References/ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:element name="LoggedErrorDTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="Data" nillable="true" type="q1:ArrayOfKeyValuePairOfstringstring" />
        <xs:element minOccurs="0" name="ExceptionType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HelpLink" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SessionId" type="xs:int" />
        <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SessionDTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Platform" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartedSessionDTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>